<!-- <form class="example-form">
  <div class="align">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="User Name" value="">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Password" value="">
    </mat-form-field>
  </div>
  <button mat-raised-button color="primary" (click)="login()">Login</button>

</form>  -->

<!-- <div class="form-container">
  <img src="assets/images/lock.svg" id="lock" />

  <span class="error" *ngIf="error">{{ error }}</span>

  <button (click)="loginFb()" id="fb">Login With Facebook</button><br />
  <button (click)="loginGoogle()" id="google">Login With Google</button>
  <button routerLink="/login-email" id="email">Email</button>

  <a routerLink="/signup" routerLinkActive="active" class="alc"
    >No account? <strong>Create one here</strong></a
  >
</div> -->

<div class="py-5" style="width:80%">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <span class="anchor" id="formLogin"></span>

      <!-- form card login -->
      <div class="card rounded-0">
        <div class="card-header">
          <h3 class="mb-0">Login</h3>
        </div>
        <div class="card-body">
          <form class="form">
            <div class="form-group">
              <label for="uname1">Username</label>
              <input
                type="text"
                class="form-control rounded-0"
                [(ngModel)]="email"
                name="email"
                required
              />
            </div>
            <div class="form-group">
              <label>Password</label>
              <input
                type="password"
                class="form-control rounded-0"
                [(ngModel)]="password"
                name="password"
                required
              />
            </div>
            <button
              type="button"
              (click)="loginUser()"
              class="btn btn-success float-right"
            >
              Login
            </button>
          </form>
        </div>
        <!--/card-block-->
      </div>
      <!-- /form card login -->
    </div>
  </div>
</div>
